body{
    font-family: Arial;
    color: white;
    background-color: rgb(0, 149, 235);
    text-align: center;
}.espaco{
    width: 100px;
    height: 100px;
    border-radius: 10px;
    border-color: white;
    background-color: white;
    text-align: center;
    font-size: 100px;
}